<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: STHeader"></div>

</head>
<body>


   <div class="grid">

      <div class="row colspan-10 offset-1">

         <div class="remark alert"
            style="padding-top: 10px; margin: 2px">
            <h1 th:text="'Exception : ' + ${message}"></h1>
         </div>
      </div>

   </div>


   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>