<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: STHeader"></div>

</head>
<body>

   <div style="height: 800px; overflow: hidden;">
      <div data-role="navview" data-compact="md" data-expand="false"
         data-active-state="true">
         <div th:replace="fragments/navbar :: STNavbar"></div>



         <div class="navview-content pl-4-md pr-4-md">

            <div class="grid">

               <div th:replace="fragments/brand :: STBrand"></div>

               <!-- your Code Starts from Here  -->
               <div class="grid" style="padding: 20px">



                  <!-- Top Row - Starts -->
                  <div class="row">

                     <div class="colspan-11 " style="margin-left: 10px">
                        <h3 style="color: #4465a1">Strategies</h3>
                     </div>




                  </div>
                  <!-- Top Row - Ends Current Selected Scrips Row --Starts -->

                  <div class="colspan-11 offset-1 ">

                     <!-- Table Row - Starts  -->


                     <div class="row">
                        <!--   Here goes your table -->

                        <table
                           class="table striped table-border row-hover mt-4"
                           data-show-search="false"
                           data-show-rows-steps="false" id="t-inspector"
                           data-showPagination="false" data-role="table"
                           data-horizontal-scroll="true" data-rows="-1"
                           data-info-wrapper=".my-info-wrapper"
                           data-thousand-separator=","
                           data-pagination-wrapper=".my-pagination-wrapper">

                           <thead>
                              <tr>

                                 <th data-cls-column="text-center">Strategy
                                    Name</th>

                                 <th data-cls-column="text-center"
                                    data-size="750">Concept</th>

                                 <th data-cls-column="text-center">Number
                                    of Scrips</th>


                                 <th data-cls-column=" text-center"></th>
                              </tr>
                           </thead>




                           <tr th:each="stgyI : ${stgList}">
                              <td><a
                                 th:href="@{'/stratergy/' + ${stgyI.id}}"
                                 th:text="${stgyI.name}"> </a></td>

                              <td><textarea
                                    th:text="${stgyI.concept}"
                                    data-auto-size="true" disabled></textarea></td>

                              <td th:text="${stgyI.numScrips}">11</td>

                              <!--Buttons - OCA  -->
                              <td style="text-align: center;"><a
                                 class="button warning cycle  outline"
                                 th:href="@{'/stratergy/rebal/' + ${stgyI.id}}"
                                 data-role="hint"
                                 data-hint-text="Re-Balance Strategy"
                                 data-cls-hint="bg-lightyellow fg-black drop-shadow"
                                 data-hint-position="bottom"><span
                                    class="mif-balance-scale mif-2x fg-red"></span></a>
                              </td>
                              <!--Buttons - OCA  -->

                           </tr>

                        </table>


                     </div>

                     <!--Table Row - Ends  -->





                  </div>

               </div>

            </div>
         </div>
      </div>
   </div>

   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>