<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: STHeader"></div>

</head>
<body>


   <div data-role="navview" data-compact="md" data-expand="false"
      data-active-state="true">
      <div th:replace="fragments/navbar :: STNavbar"></div>



      <div class="navview-content pl-4-md pr-4-md">

         <div class="grid">

            <div th:replace="fragments/brand :: STBrand"></div>

            <!-- your Code Starts from Here  -->
            <div class="grid" style="padding: 20px">

               <!--Salutation Row - Starts  -->
               <div class="row">

                  <div class="colspan-11 " style="margin-left: 10px">
                     <h3 style="color: #4465a1">
                        Hi <span style="color: #B1365B"
                           th:text="${pfConfig.username}"></span> ! <span
                           class="mif-user-check"></span>
                     </h3>
                  </div>



               </div>
               <!-- Salutation Row - Ends  -->

               <!-- Customize button at Top ROW - Starts -->
               <div class="row">
                  <!-- Customize Button - Col Start -->
                  <div style="margin-left: 20px; margin-top: 30px">


                     <a href="#" class="button primary rounded outline"
                        th:href="@{/pf/cus}" role="button"> <span
                        class="mif-cog icon" style="margin-left: 0px"></span>
                        <span style="margin-left: 3px">Customize</span>
                     </a>


                  </div>
                  <!-- Customize Button - Col End -->

                  <!-- Subscribe Button - Col Start -->
                  <div th:if="${canSubscribe == true}"
                     style="margin-left: 20px; margin-top: 30px">


                     <a href="#"
                        class="button secondary rounded outline"
                        th:href="@{/pf/subscribe}" role="button"> <span
                        class="mif-dice icon" style="margin-left: 0px"></span>
                        <span style="margin-left: 3px">Subscribe
                           to Strategy</span>
                     </a>


                  </div>
                  <!-- Subscribe Button - Col End -->

               </div>

               <!-- Customize button at Top ROW - Ends-->

               <!-- Deployments and Cash Summary Row - Starts -->

               <div class="row">

                  <div class="colspan-12 ">
                     <div class="card" style="padding-top: -20px">

                        <div class="row flex-align-center">
                           <div class="cell">
                              <blockquote class="right-side">
                                 <h1
                                    style="color: #486590; font-weight: bold"
                                    th:text="${depSummary.cashBalS}"></h1>
                                 <span
                                    style="color: #907348; font-weight: bolder;">Funds
                                    Available</span>
                              </blockquote>

                           </div>


                           <div th:if="${depSummary.deployBal > 0}"
                              class="cell">
                              <blockquote class="right-side">
                                 <h1
                                    style="color: #5D7EAE; font-weight: bold;"
                                    th:text="${depSummary.deployBalS}"></h1>
                                 <span
                                    style="color: #907348; font-weight: bolder;">Funds
                                    Deployed</span>
                              </blockquote>
                           </div>

                           <div th:if="${depSummary.deployBal > 0}"
                              class="cell">

                              <blockquote class="right-side">
                                 <div id="donut_val" data-role="donut"
                                    style="margin-top: 10px"
                                    data-hole=".8" data-animate="10"
                                    data-fill="#4E76B2"
                                    th:attr="data-value=${depSummary.deployPer}"
                                    class="mx-auto"></div>
                                 <div>
                                    <span
                                       style="color: #907348; font-weight: bolder;">Funds
                                       Deployed %</span>
                                 </div>
                              </blockquote>

                           </div>

                           <div
                              th:if="${pfConfig.userStrategies.size() > 0}"
                              class="cell">

                              <blockquote class="right-side">
                                 <h1
                                    style="color: #488990; font-weight: bold;"
                                    th:text="${pfConfig.userStrategies.size()}"></h1>
                                 <span
                                    style="color: #2f562b; font-weight: bolder;">Strategies
                                    Subscribed</span>
                              </blockquote>

                           </div>

                           <div class="cell flex-justify-end">


                              <div class=" row d-flex flex-justify-left"
                                 style="margin-left: 30px; margin-top: 10px">


                                 <a href="#"
                                    class="button success rounded outline large"
                                    th:href="@{/pf/addfunds}"
                                    role="button"> <span
                                    class="mif-add icon"
                                    style="margin-left: 0px"></span> <span
                                    style="margin-left: 3px">Add
                                       Funds</span>
                                 </a>


                              </div>




                              <div class="row d-flex flex-justify-left"
                                 style="margin-left: 30px; margin-top: 20px">
                                 <a href="#"
                                    class="button alert rounded outline"
                                    th:href="@{/pf/withdrawfunds}"
                                    role="button"> <span
                                    class="mif-refresh icon"
                                    style="margin-left: 0px"></span> <span
                                    style="margin-left: 3px">Withdraw
                                 </span>
                                 </a>

                              </div>

                              <!--Split Button - Starts  -->
                              <div class=" row d-flex flex-justify-left"
                                 style="margin-left: 30px; margin-top: 20px; margin-bottom: 10px">
                                 <div class="multi-action">
                                    <button
                                       class="action-button rotate-minus bg-transparent fg-mauve"
                                       onclick="$(this).toggleClass('active')"
                                       data-role="hint"
                                       data-hint-text="Scrip Events"
                                       data-cls-hint="bg-transparent fg-steelblue drop-shadow"
                                       data-hint-position="left">
                                       <span class="icon"><span
                                          class="mif-plus"></span></span>
                                    </button>
                                    <ul class="actions drop-right">


                                       <li
                                          class="bg-transparent fg-mauve"><a
                                          th:href="@{/pf/dividendShow}"
                                          data-role="hint"
                                          data-hint-text="Dividend"
                                          data-cls-hint="bg-transparent fg-steelblue drop-shadow"
                                          data-hint-position="bottom"><span
                                             class="mif-gift"></span></a></li>


                                       <li
                                          class="bg-transparent fg-mauve"><a
                                          th:href="@{/pf/BonusShow}"
                                          data-role="hint"
                                          data-hint-text="Bonus"
                                          data-cls-hint="bg-transparent fg-steelblue drop-shadow"
                                          data-hint-position="bottom"><span
                                             class="mif-magic-wand"></span></a></li>

                                       <li
                                          class="bg-transparent fg-mauve"><a
                                          th:href="@{/pf/SplitShow}"
                                          data-role="hint"
                                          data-hint-text="Split"
                                          data-cls-hint="bg-transparent fg-steelblue drop-shadow"
                                          data-hint-position="bottom"><span
                                             class="mif-flow-branch"></span></a></li>

                                    </ul>
                                 </div>



                              </div>
                              <!-- Split Button - Ends  -->
                           </div>



                        </div>

                     </div>

                  </div>

                  <!-- Deployments and Cash Summary Row - Ends -->
               </div>


               <!-- Strategy Details Row(s) - Starts -->
               <!--Salutation Row - Starts  -->
               <div class="row">

                  <div th:if="${summaryStgy != null }"
                     class="colspan-11 " style="margin-left: 10px">
                     <h3 style="color: #4465a1">Deployment(s)</h3>
                  </div>

                  <div th:if="${summaryStgy == null }"
                     class="colspan-11 " style="margin-left: 10px">
                     <h3 style="color: #4465a1">Subscription(s)</h3>

                  </div>


               </div>
               <!-- Salutation Row - Ends  -->

               <div th:if="${summaryStgy!= null }"
                  th:each="summaryStgy : ${stgySSList}">
                  <!-- Each Strategy Row - Starts -->

                  <div class="row">

                     <div class="colspan-12 ">


                        <div class="card" style="padding-top: -20px">

                           <div class="row flex-align-center">
                              <!-- Stgy Details - subscribe Button Starts -->
                              <div class="d-flex flex-justify-center">
                                 <blockquote class="right-side"
                                    style="padding: 30px">
                                    <h1 style="color: #486590"
                                       th:text="${summaryStgy.stgyStatsShort.stgyDetails.getName()}"></h1>

                                    <h2 style="color: #4F4890">
                                       Scrips <span
                                          style="color: #655DAE"
                                          th:text="${summaryStgy.stgyStatsShort.numScrips}"></span>

                                    </h2>



                                    <h2 style="color: #904865">
                                       Sectors <span
                                          style="color: #659048"
                                          th:text="${summaryStgy.stgyStatsShort.numSectors}"></span>

                                    </h2>

                                    <!-- Deploy Button - Col Start -->
                                    <div class="colspan-2"
                                       th:if="${summaryStgy.active ==true }"
                                       style="margin-left: 20px; margin-top: 30px">

                                       <a href="#"
                                          class="button success rounded outline large"
                                          th:href="@{/pf/deploy/{id}/{stid} ( id=${summaryStgy.usstId},stid=${summaryStgy.stgyStatsShort.stgyDetails.getStid()})}"
                                          role="button"> <span
                                          class="mif-thumbs-up icon"
                                          style="margin-left: 0px"></span>
                                          <span style="margin-left: 3px">Deploy
                                             Funds</span>
                                       </a>


                                    </div>
                                    <!-- Deploy Button - Col End -->

                                    <!-- Deactivate Button - Col Start -->
                                    <div class="colspan-2"
                                       th:if="${summaryStgy.active ==true } "
                                       style="margin-left: 20px; margin-top: 20px">

                                       <a href="#"
                                          class="button alert rounded outline"
                                          th:href="@{/pf/deactivate/{id}/ ( id=${summaryStgy.usstId})}"
                                          role="button"> <span
                                          class="mif-flash-off icon"
                                          style="margin-left: 0px"></span>
                                          <span style="margin-left: 3px">Deactivate</span>
                                       </a>


                                    </div>
                                    <!-- Deactivate Button - Col End -->

                                    <!-- activate Button - Col Start -->
                                    <div class="colspan-2"
                                       th:if="${summaryStgy.active == false }"
                                       style="margin-left: 20px; margin-top: 30px">

                                       <a href="#"
                                          class="button success rounded outline"
                                          th:href="@{/pf/activate/{id} ( id=${summaryStgy.usstId})}"
                                          role="button"> <span
                                          class="mif-flash-on icon"
                                          style="margin-left: 0px"></span>
                                          <span style="margin-left: 3px">Activate</span>
                                       </a>


                                    </div>
                                    <!-- activate Button - Col End -->

                                 </blockquote>

                              </div>


                              <!-- Stgy Holdings -  Starts -->
                              <div class="cell"
                                 th:if="${summaryStgy.holdingsStatsList.size() > 0}">

                                 <blockquote class="right-side">

                                    <div
                                       class="row d-flex flex-justify-center">

                                       <h6
                                          style="color: #000058; background: #F1F2FF; padding: 10px; margin-left: 5px center;">
                                          <span style="color: #585800">Holdings
                                             Factsheet</span>

                                       </h6>
                                    </div>
                                    <hr />

                                    <!-- For Each Holding Entity -->
                                    <div
                                       th:each="holding : ${summaryStgy.holdingsStatsList}">

                                       <div
                                          class="row d-flex flex-justify-left"
                                          style="margin-top: 10px; margin-left: 10px; padding: 10px">

                                          <span
                                             style="color: #41729F; font-weight: bolder;"
                                             th:text="${holding.getSccode()}"></span>
                                          <span
                                             style="color: #419F9D; font-weight: bolder; margin-left: 10px"
                                             th:text="${holding.getUnits()}"></span>

                                          <span
                                             style="color: #419F9D; font-weight: bolder; margin-left: 3px">
                                             shares</span> <span
                                             style="color: #41439F; font-weight: bolder; margin-left: 5px">
                                             @</span> <span
                                             style="color: #419F9D; font-weight: bolder; margin-left: 3px"
                                             th:text="${holding.getPpu()}"></span>
                                          <span
                                             class="mif-brightness mif-lg fg-orange"
                                             style="margin-left: 15px"></span>
                                          <span
                                             style="color: #D86C27; font-weight: bolder; margin-left: 5px"
                                             th:text="${holding.totalAllocS}">
                                          </span> <span
                                             style="color: #D86C27; font-weight: bolder; margin-left: 8px">
                                             Invested </span>


                                       </div>

                                       <div
                                          class="row d-flex flex-justify-left"
                                          style="margin-left: 10px">

                                          <div class="cell-5"
                                             style="margin-top: 3px">
                                             <span data-role="progress"
                                                data-type="buffer"
                                                data-cls-bar="bg-pink"
                                                data-cls-buffer="bg-white"
                                                data-small="true"
                                                th:attr="data-value=${holding.allocPerS}">
                                             </span> <span
                                                style="color: #C26DBC; font-weight: bolder;"
                                                th:text="${holding.allocPerS}"></span>
                                             <span
                                                style="color: #C26D91; font-weight: bolder;">
                                                contribution</span>

                                          </div>



                                       </div>


                                       <div
                                          class="row d-flex flex-justify-left"
                                          style="margin-left: 10px">

                                          <span
                                             th:if="${holding.realzpl > 0 }"
                                             class="mif-arrow-drop-up mif-lg fg-green"></span>

                                          <span
                                             th:if="${holding.realzpl > 0 }"
                                             style="color: #18A558; font-weight: bolder; margin-left: 5px"
                                             th:text="${holding.realzPLS}">
                                          </span> <span
                                             th:if="${holding.realzpl > 0}"
                                             style="color: #18A558; font-weight: bolder; margin-left: 8px">
                                             Realized P/L </span> <span
                                             th:if="${holding.realzpl < 0 }"
                                             class="mif-arrow-drop-down mif-lg fg-red"></span>
                                          <span
                                             th:if="${holding.realzpl < 0 }"
                                             style="color: #D9267B; font-weight: bolder; margin-left: 5px"
                                             th:text="${holding.realzPLS}">
                                          </span> <span
                                             th:if="${holding.realzpl < 0 }"
                                             style="color: #D9267B; font-weight: bolder; margin-left: 8px">
                                             Realized P/L </span> <span
                                             style="margin-left: 10px"
                                             th:if="${holding.realzdiv > 0 }"
                                             class="mif-arrow-drop-up mif-lg fg-green"></span>
                                          <span
                                             th:if="${holding.realzdiv > 0 }"
                                             style="color: #18A558; font-weight: bolder; margin-left: 5px"
                                             th:text="${holding.realzDivS}">
                                          </span> <span
                                             style="color: #18A558; font-weight: bolder; margin-left: 8px">
                                             Dividends </span>


                                       </div>

                                       <hr />
                                    </div>
                                 </blockquote>

                              </div>

                              <!-- Stgy Holdings - Ends -->


                              <!-- Summary -  Starts -->
                              <div class="cell"
                                 th:if="${summaryStgy.holdingsStatsList.size() > 0}">


                                 <blockquote class="right-side">

                                    <div
                                       class="row d-flex flex-justify-center">

                                       <h6
                                          style="color: #000058; background: #F1F2FF; padding: 10px; margin-left: 5px; text-align: center;">
                                          <span style="color: #585800">Deployments
                                             Summary</span>

                                       </h6>
                                    </div>

                                    <div
                                       th:if="${summaryStgy.totalAllocationPer > 0}"
                                       class="row d-flex flex-justify-center">

                                       <div class="cell">
                                          <blockquote class="right-side">
                                             <div id="donut_val"
                                                data-role="donut"
                                                style="margin-top: 10px"
                                                data-hole=".8"
                                                data-animate="10"
                                                data-fill="#4E76B2"
                                                th:attr="data-value=${summaryStgy.totalAllocationPer}"
                                                class="mx-auto"></div>


                                             <span
                                                th:if="${summaryStgy.totalAllocationPer > 0 }"
                                                style="color: #B28A4E; font-weight: bold;"
                                                th:text="${summaryStgy.totalAllocationPer}"></span>
                                             <span
                                                style="color: #B28A4E; font-weight: bold; margin-top: 10px">
                                                % of Deployed Funds in
                                                this Strategy</span>
                                          </blockquote>
                                       </div>

                                       <div
                                          class="cell flex-column-align-center">
                                          <blockquote class="right-side">
                                             <h1
                                                style="color: #486590; font-weight: bold;"
                                                th:text="${summaryStgy.totalAllocation}"></h1>
                                             <span
                                                style="color: #907348; font-weight: bold;">Funds
                                                Deployed in this
                                                Strategy</span>
                                          </blockquote>

                                       </div>

                                    </div>
                                 </blockquote>

                                 <!--Invested in n of x Stgy Scrips - Row Starts  -->
                                 <div
                                    class="row d-flex flex-justify-center"
                                    style="margin-left: 10px">

                                    <h5 style="color: #486590">
                                       Invested in</h5>

                                    <h3
                                       style="color: #907348; margin-left: 10px; margin-right: 10px;"
                                       th:text="${summaryStgy.holdingsStatsList.size()}">
                                    </h3>

                                    <h3>/</h3>
                                    <h3
                                       style="color: #907348; margin-left: 10px; margin-right: 10px;"
                                       th:text="${summaryStgy.stgyStatsShort.numScrips}">
                                    </h3>



                                    <h5 style="color: #486590">of
                                       Strategy Scrips</h5>
                                 </div>

                                 <!--Invested in n of x Stgy Scrips - Row Ends -->

                                 <!-- Calculate Returns button at Next ROW - Starts -->
                                 <div
                                    th:if="${summaryStgy.holdingsStatsList.size() > 0}"
                                    class="row d-flex flex-justify-center">

                                    <div
                                       style="margin-left: 20px; margin-top: 30px">


                                       <a href="#"
                                          class="button primary rounded outline large"
                                          th:href="@{/pf/calcReturns/{id} ( id=${summaryStgy.usstId})}"
                                          role="button"> <span
                                          class="mif-calculator icon"
                                          style="margin-left: 0px"></span>
                                          <span style="margin-left: 3px">Calculate
                                             Returns</span>
                                       </a>


                                    </div>


                                 </div>

                                 <!-- Calculate Returns button at Next ROW - Ends-->

                              </div>
                              <!-- Summary -  Ends -->







                           </div>


                        </div>


                     </div>



                  </div>

               </div>

               <!-- Each Strategy Row - Ends -->
            </div>


         </div>
      </div>
   </div>

   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>