<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: STHeader"></div>

</head>
<body>

   <div style="min-height: 800px; overflow: hidden;">
      <div data-role="navview" data-compact="md" data-expand="false"
         data-active-state="true">
         <div th:replace="fragments/navbar :: STNavbar"></div>



         <div class="navview-content pl-4-md pr-4-md">

            <div class="grid">

               <div th:replace="fragments/brand :: STBrand"></div>

               <!-- your Code Starts from Here  -->
               <!--Main Content Grid - Starts  -->
               <div class="grid">

                  <!--Title Row - Starts  -->
                  <div class="row">

                     <div class="colspan-7 offset-3">
                        <h4
                           style="margin-top: 50px; font-weight: medium; color: #4465a1">
                           Sector Specific FieldPool Details for : <span
                              style="color: #B1365B" th:text="${scCode}"></span>
                        </h4>
                     </div>




                  </div>


                  <!--Title Row - Ends -->

                  <!-- Form - Starts -->

                  <form th:object="${fpdata}"
                     th:action="@{'/Financials/save'} " method="post">

                     <!--Hidden fieldPoolId & Scrip Code field to be passed on to   -->
                     <input type="hidden" th:field="*{id}" /> <input
                        type="hidden" th:field="*{sccode}" />

                     <!--Identification Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        style="margin-top: 20px"
                        data-title-caption="Identification"
                        data-title-icon="<span class='mif-key'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="row">

                           <div class="cell-md-3">
                              <label class="fg-mauve"> Interval
                                 Type</label> <select class="form-control"
                                 name="interval" th:field="*{interval}"
                                 data-add-empty-value="true">

                                 <option
                                    th:each="intervalValue : ${T(stocktales.dataBook.enums.EnumInterval).values()}"
                                    th:value="${intervalValue.name()}"
                                    th:text="${intervalValue.name()}">
                                 </option>
                              </select>

                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve"> Year</label> <select
                                 data-role="select" name="valm"
                                 th:field="*{valm}"
                                 data-add-empty-value="true"
                                 class="input">
                                 <!-- Sectors list to be pushed via Model -->
                                 <option th:each="year : ${years}"
                                    th:value="${year}"
                                    th:selected="${year}"
                                    th:text="${year}"></option>
                              </select>

                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve"> Quarter
                                 (Only for QoQ Data)</label> <select
                                 data-role="select" name="vald"
                                 th:field="*{vald}"
                                 data-add-empty-value="true"
                                 class="input">
                                 <!-- Sectors list to be pushed via Model -->
                                 <option th:value="1" th:text="Q1"></option>
                                 <option th:value="2" th:text="Q2"></option>
                                 <option th:value="3" th:text="Q3"></option>
                                 <option th:value="4" th:text="Q4"></option>

                              </select>

                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve"> All
                                 Amounts in Rs. </label> <select
                                 class="form-control" th:field="*{unit}">

                                 <option
                                    th:each="unitValue : ${T(stocktales.dataBook.enums.EnumUnit).values()}"
                                    th:value="${unitValue.name()}"
                                    th:text="${unitValue.name()}">
                                 </option>
                              </select>
                           </div>
                        </div>


                     </div>
                     <!--Identification Row Ends  -->

                     <!--Income & Expenses Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        style="margin-top: 20px"
                        data-title-caption="AUM, Income & Fee"
                        data-title-icon="<span class='mif-dollars'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="row">

                           <div class="cell-md-3">
                              <label class="fg-mauve">Consolidated
                                 AUM</label> <input type="text"
                                 class="metro-input" th:field="*{aum}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Total
                                 Income</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{totalincome}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Fee and
                                 Comm. Income</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{feecommincome}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Fee and
                                 Comm. Expenses</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{feecommexpenses}" />
                           </div>
                        </div>
                     </div>

                     <!--Income & Expenses Row Ends  -->

                     <!--NPA and Provisions Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        style="margin-top: 20px" data-collapsed="true"
                        data-title-caption="NPA's & Provisions"
                        data-title-icon="<span class='mif-sync-problem'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="row">
                           <div class="cell-md-3">
                              <label class="fg-mauve">Gross NPA</label>
                              <input type="text" class="metro-input"
                                 th:field="*{gnpa}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Nett. NPA</label>
                              <input type="text" class="metro-input"
                                 th:field="*{nnpa}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Total
                                 Provisions & Write Offs</label> <input
                                 type="text" class="metro-input"
                                 th:field="*{provisions}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Provision
                                 Coverage Ratio</label> <input type="text"
                                 class="metro-input" th:field="*{pcr}" />
                           </div>
                        </div>
                     </div>

                     <!--NPA and Provisions Row Ends  -->

                     <!--Capital Ad. & Opex Efficiency Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        data-collapsed="true" style="margin-top: 20px"
                        data-title-caption="Capital Adequacy & Opex Effeciency"
                        data-title-icon="<span class='mif-battery-two'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="row">
                           <div class="cell-md-3">
                              <label class="fg-mauve">Cash &
                                 Equivalents</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{casheq}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Capital
                                 Adequacy Ratio</label> <input type="text"
                                 class="metro-input" th:field="*{car}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Tier-1 CAR</label>
                              <input type="text" class="metro-input"
                                 th:field="*{tier1car}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Opex to
                                 NII</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{opextonii}" />
                           </div>


                        </div>
                     </div>

                     <!--Capital Ad. & Opex Efficiency Row Ends  -->


                     <!--Deposits Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        data-collapsed="true" style="margin-top: 20px"
                        data-title-caption="Deposits"
                        data-title-icon="<span class='mif-organization'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="row">
                           <div class="cell-md-3">
                              <label class="fg-mauve">Total
                                 Deposits</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{deposits}" />
                           </div>
                           <div class="cell-md-3">
                              <label class="fg-mauve">Retail
                                 Deposits %</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{retaildeppercentage}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Corporate
                                 Deposits %</label> <input type="text"
                                 class="metro-input"
                                 th:field="*{corpdeppercentage}" />
                           </div>

                           <div class="cell-md-3">
                              <label class="fg-mauve">Deposits
                                 to Consolidated Borrowings</label> <input
                                 type="text" class="metro-input"
                                 th:field="*{deptoconsborrow}" />
                           </div>
                        </div>
                     </div>

                     <!--Deposits Row Ends  -->


                     <!--Notes Row Starts  -->

                     <div class="mx-auto" data-role="panel"
                        data-collapsed="true" style="margin-top: 20px"
                        data-title-caption="Notes"
                        data-title-icon="<span class='mif-keyboard'></span>"
                        data-collapsible="true"
                        data-cls-panel="shadow-3"
                        data-cls-title="bg-lightRed fg-white"
                        data-cls-title-icon="bg-white fg-red"
                        data-cls-collapse-toggle="bg-darkRed fg-white marker-light  ">

                        <div class="panel-body">
                           <div class="row">
                              <div class="col-md-12 form-group">
                                 <p class="fg-mauve" id="chars-counter">Length-
                                    0 char(s)</p>
                                 <textarea data-role="textarea"
                                    data-auto-size="true"
                                    data-chars-counter="#chars-counter"
                                    data-chars-counter-template="Length- $1 char(s)"
                                    th:field="*{notes}"></textarea>
                              </div>
                           </div>
                        </div>
                     </div>

                     <!--Notes Row Ends  -->


                     <div class="d-flex flex-row-r"
                        style="margin-top: 30px; margin-bottom: 50px;">
                        <button class="button rounded"
                           style="background-color: #59D3AF; color: white; margin-top: 5px; margin-bottom: 10px"
                           data-role="hint" data-hint-position="left"
                           data-cls-hint="bg-LightGreen fg-black"
                           data-hint-text="Save Data For Scrip">
                           <span class="mif-floppy-disk"
                              style="margin-left: 0px"> </span> <span
                              style="margin-left: 3px">Save</span>
                        </button>

                     </div>

                  </form>

                  <!-- Form - Ends -->
               </div>
               <!--Main Content Grid - Ends  -->

            </div>
         </div>
      </div>
   </div>

   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>