<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <div th:fragment="STBrand" class="row">
      <div class="colspan-7 bg-white fg-red">

         <h1 style="margin-left: 15px;">
            <img th:src="@{/images/dice.png}"
               src="../../static/images/dice.png" width="80" height="80"
               style="margin-left: 5px; margin-right: 10px"> Stock
            Tales
         </h1>
      </div>
      <div class="colspan-2 " style="margin-top: 30px">
         <!--  <input type="text" data-role="input" data-search-button="true"
            data-autocomplete="Ukraine, USA, Canada, Marokko, Singapur"
            data-search-button-click="submit"> -->

         <div class="info-button bg-red fg-white bd-red small">
            </span> <a th:href="@{/qnav/site}" class="info"> Site Section</a> <a
               href="#" class="info">Scrip</a>
         </div>
      </div>

      <div class="colspan-2 offset-1 bg-white fg-red align-end"
         ; style="margin-top: 15px;">
         <small> <img th:src="@{/images/bicycle.png}"
            src="../../static/images/bicycle.png" width="30" height="30"
            style="margin-right: 10px;"> : by FunProjects
         </small>
      </div>

   </div>
</body>
</html>