<!DOCTYPE html>
<html>
<head>

</head>
<body>
   <div th:fragment="STCarousel" class="row">
      <!--Carousel - Start  -->

      <div data-role="carousel" data-auto-start="true"
         data-period="3000" data-duration="1000"
         data-bullets-position="right" data-effect="slide"
         data-effect-func="easeInQuart" data-height="21/9"
         data-controls-on-mouse="true" data-cls-bullet="bullet-big"
         data-cls-bullet-on="bg-red drop-shadow"
         data-cls-slides="rounded" data-cls-controls="fg-red"
         data-control-next="<span class='mif-chevron-right fg-red'></span>"
         data-control-prev="<span class='mif-chevron-left fg-red'></span>">

         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Scrip(s) Look up by their
                  Strength Score(s)</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/EDRC.png}"
                     src="../../static/images/EDRC.png" width="900"
                     height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>

         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Browse Curated Filtered List(s) &
                  Generate Strategies</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/EDRCFilters.png}"
                     src="../../static/images/EDRCFilters.png"
                     width="900" height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>

         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Create Fine-Tuned Strategies to
                  Deploy Funds</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/Staging_1.png}"
                     src="../../static/images/Staging_1.png" width="900"
                     height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>


         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Custom Strategies with Own Margin
                  of Safety at Scrip level</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/Staging_2.png}"
                     src="../../static/images/Staging_2.png" width="900"
                     height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>

         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Browse Through your Strategies
                  and Re-balance</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/stgList.png}"
                     src="../../static/images/stgList.png" width="900"
                     height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>


         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">Simulate Expected Returns CAGR
                  before deploying funds</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/Simulation.png}"
                     src="../../static/images/Simulation.png"
                     width="900" height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>

         <div class="slide p-14 pl-8 pr-8">
            <div class="row" style="margin-top: -20px">
               <h2 class="fg-red">See Detailed Strength Score(s)
                  Computations</h2>
            </div>
            <div class="row flex-align-center h-500"
               style="margin-top: 10px">
               <div class="img-container">
                  <img th:src="@{/images/SSDetails.png}"
                     src="../../static/images/Simulation.png"
                     width="900" height="500"
                     style="margin-left: 5px; margin-right: 10px">
               </div>

            </div>
         </div>


      </div>


      <!--Caraousel - End  -->
   </div>
</body>
</html>