<!DOCTYPE html>
<html>

<body>
   <div th:fragment="STHeader">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport"
         content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
      <title>Stock Tales</title>
      <!-- Metro 4 -->
      <link rel="stylesheet"
         href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
   </div>
</body>
</html>