<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <nav th:fragment="STNavbar" class="navview-pane bg-red fg-white">

      <button class="pull-button bg-red fg-white">
         <span class="mif-menu"></span>
      </button>




      <ul class="navview-menu bg-red fg-white">

         <li class="item-header"><img th:src="@{/images/dice.png}"
            src="../../static/images/dice.png" width="60" height="60"
            style="margin-left: 5px"> <span
            style="margin-left: 7px; font-size: larger;"> Stock
               Tales</span></li>

         <li class="item-separator"></li>
         <li class="item-separator"></li>
         <li class="item-separator"></li>





         <li><a th:href="@{'/'}"> <span class="icon"><span
                  class="mif-home"></span></span> <span class="caption">Home</span>
         </a></li>

         <li class="item-separator"></li>


         <li><a th:href="@{'/scrips/edrc'}"> <span class="icon"><span
                  class="mif-clipboard"></span></span> <span class="caption">Scrips
                  Lookup</span>
         </a></li>
         <li><a th:href="@{'/scrips/edrc/myFilter'}"> <span
               class="icon"><span class="mif-filter"></span></span> <span
               class="caption">Filters</span>
         </a></li>
         <li><a th:href="@{'/stratergy/list'}"> <span
               class="icon"><span class="mif-compass2"></span></span> <span
               class="caption">Strategies</span>
         </a></li>

         <li class="item-separator"></li>

         <li><a th:href="@{'/admin/sc/upload'}"> <span
               class="icon"><span class="mif-upload"></span></span> <span
               class="caption">Upload Scrip</span>
         </a></li>
         <li><a href="#"> <span class="icon"><span
                  class="mif-stethoscope"></span></span> <span class="caption">Scrip
                  Status Report</span>
         </a></li>
      </ul>
   </nav>
</body>
</html>