<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: STHeader"></div>

</head>
<body>

   <div style="height: 800px; overflow: hidden;">
      <div data-role="navview" data-compact="md" data-expand="false"
         data-active-state="true">
         <div th:replace="fragments/navbar :: STNavbar"></div>



         <div class="navview-content pl-4-md pr-4-md">

            <div class="grid">

               <div th:replace="fragments/brand :: STBrand"></div>

               <div style="margin-top: 10px">



                  <div class="row">
                     <div class="card">
                        <div class="card-header">

                           <div class="remark alert "
                              style="padding-top: 10px; margin: 2px">
                              <h4>This Navigation is bound by a
                                 Configuration which was not maintained
                                 for this case!</h4>
                           </div>





                        </div>


                     </div>
                  </div>

               </div>

            </div>


         </div>
      </div>
   </div>


   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>
</html>